.quadrado_preto_quiz {
    background-color: black;
    position: relative;
    width: 75vw;
    height: 89vh;
    margin-left: 450px;
    margin-top: 60px;
}


.palavra_Quiz {
    position: relative;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
}


.quadrado_vermelho_quiz {
    background-color: #520505;
    position: relative;
    width: 75vw;
    height: 12vh;
    top: 70px;
}

.titulo1_quiz {
    position: relative;
    color: white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 150px;
    text-align: center;
}

.titulo2_quiz {
    position: relative;
    color: white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 180px;
}

#button_comecar {
    background-color: #2A2c2c;
    color: white;
    text-decoration: none;
    height: 100px;
    width: 400px;
    border-radius: 10px;
    position: relative;
    font-family: 'Bebas Neue', sans-serif;
    top: 300px;
    left: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}