body {
    margin: 0;
}

section {
    scroll-margin-top: 110px;
}

.tela_home {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/imgs/fundo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.quadrado_preto {
    background-color: black;
    position: absolute;
    top: 10%;
    left: 4%;
    width: 93vw;
    height: 100vh;
}

.imagem_quadrado {
    background-image: url("../assets/imgs/scoot.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;

    top: 24%;
    left: 4%;

    width: 93vw;
    height: 22vh;
}

.topicos {
    position: fixed;
    top: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #000;

    font-family: "Poppins", sans-serif;
    font-size: 20px;

    height: 10%;
    width: 94%;

    z-index: 9999;

}

.topicos-barra {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.topicos-barra a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.bt_home:hover {
    color: rgb(108, 10, 10);
}

.bt_hist:hover {
    color: rgb(108, 10, 10);
}

.bt_cad:hover {
    color: rgb(108, 10, 10);
}

.bt_cur:hover {
    color: rgb(108, 10, 10);
}

.bt_log:hover {
    color: rgb(108, 10, 10);
}

.titulo_home {
    position: absolute;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 40px;
    bottom: 38%;
    left: 6%;
}

.paragrafo_home {
    position: absolute;
    color: rgb(204, 204, 204);
    bottom: 19%;
    left: 6%;
    font-size: 20px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}

.linha1 {
    border: none;
    width: 2px;
    height: 280px;
    background: linear-gradient(to bottom, rgb(255, 0, 0), rgb(255, 0, 0), transparent);
    position: absolute;
    top: 46%;
    left: 5%;
}

.linha2 {
    border: none;
    width: 2px;
    height: 350px;
    background: linear-gradient(to bottom, transparent, rgba(185, 46, 46, 0.33), rgba(165, 41, 41, 0.695), rgba(185, 46, 46, 0.33), transparent);
    position: absolute;
    top: 50%;
    left: 40%;
}

.episodios {
    position: absolute;
    color: white;
    bottom: 47%;
    left: 41%;
    font-size: 25px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
}

.imagem_ep_morte {
    background-image: url("../assets/imgs/alissonmorte.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    border: 2px rgb(181, 38, 38);
    box-shadow: 0 0 10px rgb(181, 38, 38);

    top: 52%;
    left: 41%;

    width: 12vw;
    height: 12vh;
}

.titulo_ep_morte {
    position: absolute;
    color: white;
    bottom: 30%;
    left: 41%;
    font-size: 19px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
}

.descricao_ep_morte {
    position: absolute;
    color: rgba(255, 255, 255, 0.776);
    bottom: 20%;
    left: 41%;
    font-size: 14px;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
}

.imagem_ep_motel {
    background-image: url("../assets/imgs/motel.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    border: 2px rgb(181, 38, 38);
    box-shadow: 0 0 10px rgb(181, 38, 38);

    top: 52%;
    left: 58%;

    width: 12vw;
    height: 12vh;
}

.titulo_ep_motel {
    position: absolute;
    color: white;
    bottom: 30%;
    left: 58%;
    font-size: 19px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
}

.descricao_ep_motel {
    position: absolute;
    color: rgba(255, 255, 255, 0.776);
    bottom: 18%;
    left: 58%;
    font-size: 14px;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
}

.imagem_ep_radio {
    background-image: url("../assets/imgs/radio.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    border: 2px rgb(181, 38, 38);
    box-shadow: 0 0 10px rgb(181, 38, 38);

    top: 52%;
    left: 78%;

    width: 12vw;
    height: 12vh;
}

.titulo_ep_radio {
    position: absolute;
    color: white;
    bottom: 30%;
    left: 78%;
    font-size: 19px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
}

.descricao_ep_radio {
    position: absolute;
    color: rgba(255, 255, 255, 0.776);
    bottom: 18%;
    left: 78%;
    font-size: 14px;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
}

.tela_historia {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/imgs/fundo_resto.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.quadrado_preto_hist {
    background-color: black;
    position: absolute;
    left: 4%;
    width: 93vw;
    height: 100vh;
}

.tituloHistoria {
    position: absolute;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 40px;
    bottom: 92%;
    left: 7%;
}


.linha3 {
    border: none;
    width: 2px;
    height: 280px;
    background: linear-gradient(to bottom, transparent, rgb(255, 0, 0), rgb(255, 0, 0));
    position: absolute;
    top: 6%;
    left: 9%;
}

.paragrafo_historia {
    position: absolute;
    color: rgb(204, 204, 204);
    bottom: 60%;
    left: 7%;
    font-size: 20px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}

.imagem_historia {
    background-image: url("../assets/imgs/156g3j0nwnh81.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    border: 2px rgb(181, 38, 38);
    box-shadow: 0 0 10px rgb(181, 38, 38);

    top: 5%;
    left: 80%;

    width: 13vw;
    height: 35vh;
}

.tituloPersonagens {
    position: absolute;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 43px;
    bottom: 45%;
    left: 36%;
}

.img_scoot {
    background-image: url("../assets/imgs/scoot.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    border: 2px rgb(181, 38, 38);
    box-shadow: 0 0 10px rgb(181, 38, 38);

    top: 62%;
    left: 10%;

    width: 12vw;
    height: 25vh;
}

.descricao_scoot {
    position: absolute;
    color: rgba(255, 255, 255, 0.776);
    top: 89%;
    left: 10%;
    font-size: 18px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.img_stiles {
    background-image: url("../assets/imgs/Stiles.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    border: 2px rgb(181, 38, 38);
    box-shadow: 0 0 10px rgb(181, 38, 38);

    top: 62%;
    left: 44%;

    width: 12vw;
    height: 25vh;
}

.descricao_stiles {
    position: absolute;
    color: rgba(255, 255, 255, 0.776);
    top: 89%;
    left: 45%;
    font-size: 18px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.img_lydia {
    background-image: url("../assets/imgs/lidia.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    border: 2px rgb(181, 38, 38);
    box-shadow: 0 0 10px rgb(181, 38, 38);

    top: 62%;
    left: 62%;

    width: 12vw;
    height: 25vh;
}

.descricao_lydia {
    position: absolute;
    color: rgba(255, 255, 255, 0.776);
    top: 89%;
    left: 62%;
    font-size: 18px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.img_derek {
    background-image: url("../assets/imgs/derek.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    border: 2px rgb(181, 38, 38);
    box-shadow: 0 0 10px rgb(181, 38, 38);

    top: 62%;
    left: 80%;

    width: 12vw;
    height: 25vh;
}

.descricao_derek {
    position: absolute;
    color: rgba(255, 255, 255, 0.776);
    top: 89%;
    left: 80%;
    font-size: 18px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.img_alisson {
    background-image: url("../assets/imgs/alisson.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    border: 2px rgb(181, 38, 38);
    box-shadow: 0 0 10px rgb(181, 38, 38);

    top: 62%;
    left: 27%;

    width: 12vw;
    height: 25vh;
}

.descricao_alisson {
    position: absolute;
    color: rgba(255, 255, 255, 0.776);
    top: 89%;
    left: 27%;
    font-size: 18px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}


.tela_curiosidades {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/imgs/fundo_resto.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.quadrado_preto_curiosidades {
    background-color: black;
    position: absolute;
    left: 4%;
    width: 93vw;
    height: 100vh;
}


.tituloCuriosidades {
    position: absolute;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 53px;
    bottom: 84%;
    left: 40%;
}

.linha4 {
    border: none;
    width: 2px;
    height: 785px;
    background: linear-gradient(to bottom, transparent, rgba(207, 7, 7, 0.685), rgba(243, 0, 0, 0.795), rgba(207, 7, 7, 0.685), transparent);
    position: absolute;
    top: 14%;
    left: 50%;
}

.cur_scoot {
    background-image: url("../assets/imgs/cur_scoot.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;

    top: 17%;
    left: 5%;

    width: 13vw;
    height: 20vh;
}

.card_cur_scott {
    background-color: #5045456c;
    position: absolute;
    top: 15%;
    left: 3%;
    width: 40vw;
    height: 25vh;
}

.descricao_cur_scoot {
    position: absolute;
    color: rgba(255, 255, 255, 0.776);
    bottom: 67%;
    left: 21%;
    font-size: 18px;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
}

.fonte_cur_scott a {
    position: absolute;
    color: rgba(189, 1, 1, 0.776);
    bottom: 63%;
    left: 21%;
    font-size: 14px;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

.card_cur_dylan {
    background-color: #5045456c;
    position: absolute;
    top: 43%;
    left: 3%;
    width: 40vw;
    height: 25vh;
}

.cur_dylan {
    background-image: url("../assets/imgs/cur_dylan1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;

    top: 45%;
    left: 5%;

    width: 13vw;
    height: 20vh;
}

.descricao_cur_dylan {
    position: absolute;
    color: rgba(255, 255, 255, 0.776);
    bottom: 39%;
    left: 21%;
    font-size: 18px;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
}

.fonte_cur_dylan a {
    position: absolute;
    color: rgba(189, 1, 1, 0.776);
    bottom: 35%;
    left: 21%;
    font-size: 14px;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}


.card_cur_antiga {
    background-color: #5045456c;
    position: absolute;
    top: 72%;
    left: 3%;
    width: 40vw;
    height: 25vh;
}

.cur_antiga {
    background-image: url("../assets/imgs/cur_antiga.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;

    top: 74%;
    left: 5%;

    width: 13vw;
    height: 20vh;
}

.descricao_cur_antiga {
    position: absolute;
    color: rgba(255, 255, 255, 0.776);
    bottom: 10%;
    left: 21%;
    font-size: 18px;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
}

.fonte_cur_antiga a{
    position: absolute;
    color: rgba(189, 1, 1, 0.776);
    bottom: 6%;
    left: 21%;
    font-size: 14px;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

.card_cur_maquiagem {
    background-color: #5045456c;
    position: absolute;
    top: 72%;
    left: 54%;
    width: 40vw;
    height: 25vh;
}

.cur_maquiagem {
    background-image: url("../assets/imgs/cur_maquiagem.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;

    top: 75%;
    left: 56%;

    width: 13vw;
    height: 20vh;
}

.descricao_cur_maquiagem {
    position: absolute;
    color: rgba(255, 255, 255, 0.776);
    bottom: 9%;
    left: 72%;
    font-size: 18px;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
}

.fonte_cur_maquiagem a {
    position: absolute;
    color: rgba(189, 1, 1, 0.776);
    bottom: 5%;
    left: 72%;
    font-size: 14px;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

.card_cur_gorila {
    background-color: #5045456c;
    position: absolute;
    top: 43%;
    left: 54%;
    width: 40vw;
    height: 25vh;
}

.cur_gorila {
    background-image: url("../assets/imgs/cur_gorila.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;

    top: 46%;
    left: 56%;

    width: 13vw;
    height: 20vh;
}

.descricao_cur_gorila {
    position: absolute;
    color: rgba(255, 255, 255, 0.776);
    bottom: 40%;
    left: 72%;
    font-size: 18px;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
}

.fonte_cur_gorila a {
    position: absolute;
    color: rgba(189, 1, 1, 0.776);
    bottom: 34%;
    left: 72%;
    font-size: 14px;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

.card_cur_jack {
    background-color: #5045456c;
    position: absolute;
    top: 15%;
    left: 54%;
    width: 40vw;
    height: 25vh;
}

.cur_jack {
    background-image: url("../assets/imgs/cur_jack_copia.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;

    top: 18%;
    left: 56%;

    width: 13vw;
    height: 20vh;
}

.descricao_cur_jack {
    position: absolute;
    color: rgba(255, 255, 255, 0.776);
    bottom: 64%;
    left: 72%;
    font-size: 18px;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
}

.fonte_cur_jack a {
    position: absolute;
    color: rgba(189, 1, 1, 0.776);
    bottom: 62%;
    left: 72%;
    font-size: 14px;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}